<nav id="navbarH">
    <ul class="rightnavText">
      <li class="dropdown" (click)="toggleNotifDropdown()">
        <input type="checkbox" id="notigDropdownToggle" class="dropdown-toggle" [ngModel]="showNotifDropdown">
        <a>
          <label for="notifDropdownToggle" class="dropdown-label">
            <span class="nav-icon">
              <i class="fa-solid fa-bell">
                <span class="badge">{{ unreadNotifications.length }}</span> 
              </i>
            </span>
          </label>
        </a>
        <div class="dropdown-content" *ngIf="showNotifDropdown">
          <div *ngFor="let notification of unreadNotifications">
            <a>{{ notification.message }}</a>
          </div>
        </div>
      </li>
      <li class="dropdown" (click)="isDropdownOpen = !isDropdownOpen">
        <input type="checkbox" id="userDropdownToggle" class="dropdown-toggle" [ngModel]="isDropdownOpen">
          <label for="userDropdownToggle" class="dropdown-label">
            <span class="nav-icon">
              <i class="fa-solid fa-user-gear"></i>
            </span>
          </label>
        <div class="dropdown-menu">
          <a routerLink="/account-settings"><i class="fa-solid fa-gear"></i> Settings</a>
          <button class="dropdown-item" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
        </div>
      </li>
    </ul>
  </nav>
  
  <nav id="navbarV">
    <ul class="leftnavText">
      <img id="dashboardLogo" src="../../assets/soc_logo.png" alt="">
      <li>
        <a href="/admin/dashboard">
          <i id="dashboardIcons" class="fa fa-line-chart" aria-hidden="true"></i>
          Dashboard
        </a>
      </li>
      <li *ngIf="isAdmin">
        <a href="/admin/user-management">
          <i id="dashboardIcons" class="fa-solid fa-user-group" aria-hidden="true"></i>
          User
        </a>
      </li>
      <li *ngIf="isSuperAdmin">
        <a href="/superadmin/user-management">
          <i id="dashboardIcons" class="fa-solid fa-user-group" aria-hidden="true"></i>
          User
        </a>
      </li>
      <li>
        <a href="/admin/reviewer-management">
          <i id="dashboardIcons" class="fa fa-book" aria-hidden="true"></i>
          Reviewer
        </a>
      </li>
      <li>
        <a href="/admin/journal-management">
          <i id="dashboardIcons" class="fa-solid fa-book-open" aria-hidden="true"></i>
        Journal
        </a>
      </li>
      <li><a href="/admin/rubric-management">
        <i id="dashboardIcons" class="fa-solid fa-newspaper" aria-hidden="true"></i>
        Rubric</a></li>
    </ul>
  </nav>