<div *ngIf="isAdmin || isSuperAdmin">
  <nav id="navbarH">
    <ul class="rightnavText">
      <li class="dropdown" (click)="toggleNotifDropdown()">
        <input type="checkbox" class="dropdown-toggle" [ngModel]="showNotifDropdown">
        <a>
          <label for="notifDropdownToggle" class="dropdown-label">
            <span class="nav-icon">
              <i class="fa-solid fa-bell">
                <span class="badge" *ngIf="unreadNotifications.length > 0">{{ unreadNotifications.length }}</span>
              </i>              
            </span>
          </label>
        </a>
        <div class="dropdown-content" *ngIf="showNotifDropdown">
          <div class="notification-container">
          <div *ngFor="let notification of notifications.reverse()">
            <a [ngClass]="{ 'unread': notification.status === 'unread', 'read': notification.status === 'read' }" 
                (click)="markNotificationAsRead(notification); viewSubmittedJournal(notification.journalId)">
                <i *ngIf="notification.status === 'unread'" class="fa-solid fa-envelope"></i>
                <i *ngIf="notification.status === 'read'" class="fa-solid fa-envelope-open"></i>
                {{ notification.message }}
            </a>
          </div>
        </div>
        </div>      
      </li>
      <li class="dropdown" (click)="toggleDropdown()">
        <input type="checkbox" id="userDropdownToggle" class="dropdown-toggle" [ngModel]="isDropdownOpen">
          <label for="userDropdownToggle" class="dropdown-label">
            <span class="nav-icon">
              <i class="fa-solid fa-user-gear"></i>
            </span>
          </label>
      <div class="dropdown-menu">
        <a routerLink="/account-settings"><i class="fa-solid fa-gear"></i> Settings</a>
        <button class="dropdown-item" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
      </div>
      </li>
    </ul>
  </nav>
  <nav id="navbarV">
      <!-- Add dynamic class binding to set 'active' class based on boolean variables -->
<ul class="leftnavText">
<img id="dashboardLogo" src="../../assets/soc_logo.png" alt="">
<li>
<a [routerLink]="'/admin/dashboard'" [class.active]="isDashboardActive">
  <i id="dashboardIcons" class="fa fa-line-chart" aria-hidden="true"></i>
  Dashboard
</a>
</li>
<li>
<a [routerLink]="'/admin/user-management'" [class.active]="isUserManagementActive">
  <i id="dashboardIcons" class="fa-solid fa-user-group" aria-hidden="true"></i>
  User
</a>
</li>
<li>
<a [routerLink]="'/admin/reviewer-management'" [class.active]="isReviewerManagementActive">
  <i id="dashboardIcons" class="fa fa-book" aria-hidden="true"></i>
  Reviewer
</a>
</li>
<li>
<a [routerLink]="'/admin/journal-management'" [class.active]="isJournalManagementActive">
  <i id="dashboardIcons" class="fa-solid fa-book-open" aria-hidden="true"></i>
  Journal
</a>
</li>
<li>
<a [routerLink]="'/admin/rubric-management'" [class.active]="isRubricManagementActive">
  <i id="dashboardIcons" class="fa-solid fa-newspaper" aria-hidden="true"></i>
  Rubric
</a>
</li>
</ul>

</nav>
</div>
  

<div *ngIf="isReviewer">
<nav id="navbarH">
  <ul class="rightnavText">
    <li class="dropdown" (click)="toggleNotifDropdown()">
      <input type="checkbox" class="dropdown-toggle" [ngModel]="showNotifDropdown">
      <a>
        <label for="notifDropdownToggle" class="dropdown-label">
          <span class="nav-icon">
            <i class="fa-solid fa-bell">
              <span class="badge" *ngIf="unreadNotifications.length > 0">{{ unreadNotifications.length }}</span>
            </i>              
          </span>
        </label>
      </a>
      <div class="dropdown-content" *ngIf="showNotifDropdown">
        <div class="notification-container">
        <div *ngFor="let notification of notifications.reverse()">
          <a [ngClass]="{ 'unread': notification.status === 'unread', 'read': notification.status === 'read' }" 
              (click)="markNotificationAsRead(notification); viewJournal(notification.journalId)">
              <i *ngIf="notification.status === 'unread'" class="fa-solid fa-envelope"></i>
              <i *ngIf="notification.status === 'read'" class="fa-solid fa-envelope-open"></i>
              {{ notification.message }}
          </a>
        </div>
      </div>
      </div>      
    </li>
    <li class="dropdown" (click)="toggleDropdown()">
      <input type="checkbox" id="userDropdownToggle" class="dropdown-toggle" [ngModel]="isDropdownOpen">
        <label for="userDropdownToggle" class="dropdown-label">
          <span class="nav-icon">
            <i class="fa-solid fa-user-gear"></i>
          </span>
        </label>
    <div class="dropdown-menu">
      <a routerLink="/account-settings"><i class="fa-solid fa-gear"></i> Settings</a>
      <button class="dropdown-item" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
    </div>
    </li>
  </ul>
</nav>
    <nav id="navbarV">
      <ul class="leftnavText">
        <img id="dashboardLogo" src="../../assets/soc_logo.png" alt="">
        <li>
          <a href="/reviewer/dashboard" [class.active]="isReviewerDashboardActive">
            <i id="dashboardIcons" class="fa fa-line-chart" aria-hidden="true"></i>
            Dashboard
          </a>
        </li>
        <li>
          <a href="/reviewer/assigned-journals" [class.active]="isReviewerAssignedJournalActive">
            <i id="dashboardIcons" class="fa-solid fa-book-open" aria-hidden="true"></i>
          Journal
          </a>
        </li>
      </ul>
    </nav>
</div>

<div *ngIf="isAuthor">
<nav id="navbarH">
  <ul class="rightnavText">
    <li class="dropdown" (click)="toggleNotifDropdown()">
      <input type="checkbox" class="dropdown-toggle" [ngModel]="showNotifDropdown">
      <a>
        <label for="notifDropdownToggle" class="dropdown-label">
          <span class="nav-icon">
            <i class="fa-solid fa-bell">
              <span class="badge" *ngIf="unreadNotifications.length > 0">{{ unreadNotifications.length }}</span>
            </i>              
          </span>
        </label>
      </a>
      <div class="dropdown-content" *ngIf="showNotifDropdown">
        <div class="notification-container">
        <div *ngFor="let notification of notifications.reverse()">
          <a [ngClass]="{ 'unread': notification.status === 'unread', 'read': notification.status === 'read' }" 
              (click)="markNotificationAsRead(notification)">
              <i *ngIf="notification.status === 'unread'" class="fa-solid fa-envelope"></i>
              <i *ngIf="notification.status === 'read'" class="fa-solid fa-envelope-open"></i>
              {{ notification.message }}
          </a>
        </div>
      </div>
      </div>      
    </li>
    <li class="dropdown" (click)="toggleDropdown()">
      <input type="checkbox" id="userDropdownToggle" class="dropdown-toggle" [ngModel]="isDropdownOpen">
        <label for="userDropdownToggle" class="dropdown-label">
          <span class="nav-icon">
            <i class="fa-solid fa-user-gear"></i>
          </span>
        </label>
    <div class="dropdown-menu">
      <a routerLink="/account-settings"><i class="fa-solid fa-gear"></i> Settings</a>
      <button class="dropdown-item" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
    </div>
    </li>
  </ul>
</nav>
    
<nav id="navbarV">
<ul class="leftnavText">
<img id="dashboardLogo" src="../../assets/soc_logo.png" alt="">
<li>
  <a href="/researcher/dashboard" [class.active]="isResearcherDashboardActive">
    <i id="dashboardIcons" class="fa fa-line-chart" aria-hidden="true"></i>
    Dashboard
  </a>
</li>
<li>
  <a href="/researcher/journal-status" [class.active]="isResearcherManuscriptStatus">
    <i id="dashboardIcons" class="fa-solid fa-book-open" aria-hidden="true"></i>
  Manuscript
  </a>
</li>
</ul>
</nav>
</div>