<nav id="navbarH">
  <ul class="rightnavText">
    <li class="dropdown" (click)="toggleNotifDropdown()">
      <input type="checkbox" id="notigDropdownToggle" class="dropdown-toggle" [ngModel]="showNotifDropdown">
      <a>
        <label for="notifDropdownToggle" class="dropdown-label">
          <span class="nav-icon">
            <i class="fa-solid fa-bell">
              <span class="badge" *ngIf="unreadNotifications.length > 0">{{ unreadNotifications.length }}</span>
            </i>
          </span>
        </label>
      </a>
      <div class="dropdown-content" *ngIf="showNotifDropdown">
        <div *ngFor="let notification of unreadNotifications">
          <a>{{ notification.message }}</a>
        </div>
      </div>
    </li>
    <li class="dropdown" (click)="isDropdownOpen = !isDropdownOpen">
      <input type="checkbox" id="userDropdownToggle" class="dropdown-toggle" [ngModel]="isDropdownOpen">
        <label for="userDropdownToggle" class="dropdown-label">
          <span class="nav-icon">
            <i class="fa-solid fa-user-gear"></i>
          </span>
        </label>
      <div class="dropdown-menu">
        <a routerLink="/account-settings"><i class="fa-solid fa-gear"></i> Settings</a>
        <button class="dropdown-item" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
      </div>
    </li>
  </ul>
</nav>
  
  <nav id="navbarV">
    <ul class="leftnavText">
      <img id="dashboardLogo" src="../../assets/soc_logo.png" alt="">
      <li>
        <a href="/admin/dashboard">
          <i id="dashboardIcons" class="fa fa-line-chart" aria-hidden="true"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a href="/admin/user-management">
          <i id="dashboardIcons" class="fa-solid fa-user-group" aria-hidden="true"></i>
          User
        </a>
      </li>
      <li>
        <a href="/admin/reviewer-management">
          <i id="dashboardIcons" class="fa fa-book" aria-hidden="true"></i>
          Reviewer
        </a>
      </li>
      <li>
        <a href="/admin/journal-management" class="active">
          <i id="dashboardIcons" class="fa-solid fa-book-open" aria-hidden="true"></i>
        Journal
        </a>
      </li>
      <li><a href="/admin/rubric-management">
        <i id="dashboardIcons" class="fa-solid fa-newspaper" aria-hidden="true"></i>
        Rubric</a></li>
    </ul>
  </nav>
  
  <div id="container">
    <div class="table-container">
      <div class="searchBar">
        <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" (input)="filterJournals()">
      </div>
      
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Journal Title</th>
            <th>Author</th>
            <th>Assigned Reviewer(s)</th>
            <th>Status</th>
            <th>Options</th>
          </tr>
        </thead>
        
        <tbody>
          <tr *ngFor="let journal of filteredJournals">
            <td>{{ journal.id }}</td>
            <td>{{ journal.journalTitle }}</td>
            <td>{{ journal.authors }}</td>
            <td>
              <ng-container *ngIf="journal.reviewerNames && journal.reviewerNames.length > 0">
                <span *ngFor="let reviewerName of journal.reviewerNames; let last = last">
                  {{ reviewerName }}{{ !last ? ', ' : '' }}
                </span>
              </ng-container>
            </td>
            <td>{{ journal.status }}</td>
            <td class="actionButton">
              <button (click)="viewConsolidatedFeedback(journal._id)"><i class="fa-solid fa-comment-dots"></i></button>
              <button (click)="assignReviewer(journal)"><i class="fa-solid fa-user-pen"></i></button>
              <button (click)="editJournal(journal)"><i class="fa-solid fa-pen-to-square"></i></button>
              <button (click)="deleteJournal(journal._id)"><i class="fa-solid fa-trash-can"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  
  