<app-navbar></app-navbar>
  
  <div id="container">
    <div class="table-container">
      <div class="searchBar">
        <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" (input)="filterJournals()">
      </div>
      
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Journal Title</th>
            <th>Author</th>
            <th>Assigned Reviewer(s)</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        
        <tbody>
          <tr *ngFor="let journal of filteredJournals.slice(startIndex, endIndex + 1)">
            <td>{{ journal.id }}</td>
            <td>{{ journal.journalTitle }}</td>
            <td>{{ journal.authors }}</td>
            <td>
              <ng-container *ngIf="journal.reviewerNames && journal.reviewerNames.length > 0">
                <span *ngFor="let reviewerName of journal.reviewerNames; let last = last">
                  {{ reviewerName }}{{ !last ? ', ' : '' }}
                </span>
              </ng-container>
            </td>
            <td>{{ journal.status }}</td>
            <td class="actionButton">
              <div class="dropdown">
                <button class="dropbtn">Options</button>
                <div class="dropdown-content">
                  <button (click)="publishJournal(journal)" *ngIf="journal.status !== 'Published'" [disabled]="journal.status !== 'Accepted'">
                    <i class="fa-solid fa-file-export"></i> Publish
                  </button>
                  <button (click)="viewConsolidatedFeedback(journal._id)" [disabled]="journal.status !== 'Reviewed'">
                    <i class="fa-solid fa-comment-dots"></i> Consolidate Feedback
                  </button>
                  <button (click)="assignReviewer(journal)" [disabled]="journal.status === 'Reviewed' || journal.status === 'Accepted' || journal.status === 'Rejected' || journal.status === 'Needs Revision' || journal.status === 'Published'">
                    <i class="fa-solid fa-user-pen"></i> Assign Reviewer
                  </button>
                  <button (click)="deleteJournal(journal._id)">
                    <i class="fa-solid fa-trash-can"></i> Delete
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
        <span> 
          <!-- Iterate over page numbers and add click handler -->
          <ng-container *ngFor="let pageNumber of getPageNumbers()">
            <button (click)="goToPage(pageNumber)" [class.active]="pageNumber === currentPage">{{ pageNumber }}</button>
          </ng-container>
        </span>
        <button (click)="onPageChange(currentPage + 1)" [disabled]="endIndex === filteredJournals.length - 1">Next</button>
      </div>
    </div>
  </div>