body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.unread {
  font-weight: bold;
  background-color: #ff5a00;
}

.read {
  background-color: #fecb98;
}

.badge {
  position: absolute;
  background-color: #ff5a00; /* Badge background color */
  color: #fff; /* Badge text color */
  font-size: 0.8rem; /* Adjust the font size as needed */
  padding: 0.2rem 0.5rem; /* Adjust the padding as needed */
  border-radius: 50%; /* Make it a circle */
}


#navbarH {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #424242;
  margin: auto;
  height: 6rem;
  padding-right: 8rem;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  justify-content: flex-end;
}

.nav-icon{
  color: #ff5a00;
  font-size: 2rem;
  padding-left: 0.8rem;
}

.nav-icon:hover {
  color: #fff;
  transition: color 0.3s ease;
}

.rightnavText li {
  display: inline-block;
  margin-right: 1rem;
}

#dashboardLogo {
  display: flex;
  width: 8rem;
  height: 8rem;
  padding: 1rem;
}

#dashboardIcons {
  font-size: 2rem;
  margin-bottom: .5rem;
}

#navbarV {
  background-color: rgba(254, 152, 0);
  height: 100vh;
  position: fixed;
  width: 8rem;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: bottom;
  z-index: 2000;
}

#navbarV a {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

#navbarV a:hover,
#navbarV a:focus {
  color: #ff5a00;
  background-color: #fff;
  transition: color 0.3s ease, background-color 0.3s ease;
}

#navbarV a.active {
  color: #ff5a00; /* Set the color for the active link */
  background-color: #fff;
}

#navbarV ul {
  padding: 0px;
  list-style-type: none;
}

#navbarV li {
  margin-bottom: 1rem;
}

.leftnavText li {
  margin-bottom: 2rem;
}


ul {
  list-style-type: none;
  margin: 0px 1px 0px 1px;
  padding: 0px;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1rem 1rem 0rem 1rem;
  text-decoration: none;
}


@media screen and (max-width: 400px) {
  nav#navbarH {
    float: none;
    display: inline-block;
    width: 100%;
  }

  ul {
    float: none;
    display: block;
    width: 100%;
  }

  li {
    float: none;
    display: block;
    width: 100%;
  }
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
}

.actionButton button {
  align-items: center;
  display: flex;
}

.actionButton button i.fa-user-pen,
.actionButton button i.fa-pen-to-square,
.actionButton button i.fa-file-export,
.actionButton button i.fa-comment-dots {
  transition: color 0.3s ease;
  color: #000;
}

.actionButton button:hover i.fa-file-export,
.actionButton button:hover i.fa-pen-to-square,
.actionButton button:hover i.fa-user-pen,
.actionButton button:hover i.fa-comment-dots {
  transition: color 0.3s ease;
  color: #737373;
}

.actionButton button i.fa-trash-can {
  transition: color 0.3s ease;
  color: #ff0000;
}

.actionButton button:hover i.fa-trash-can {
  transition: color 0.3s ease;
  color: #c10404;
}

.table-container {
  width: 850px;
  padding-bottom: 50px;
  padding-right: 200px;
  margin-top: 20px; /* Adjust margin as needed */
}

.table-container table {
  width: 170%; /* Adjust width as needed */
}

.table-container th,
.table-container td {
  border: 5px solid #d9d9d9; /* Border style */
  padding: 8px; /* Padding for cells */
  text-align: center;
}

.table-container th {
  background-color: #ffbd59; /* Background color for header */
}

/* Table hover effect */
.table-container tr:hover {
  background-color: #f2f2f2;
}

.searchBar {
  position: relative;
  left: 3.5rem;
  margin-left: 20.5rem;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-bottom: 15px; /* Add space between search bar and table */
}

::placeholder{
  color: #fecb98;
}

.searchBar input[type="text"] {
  background-color: rgba(254, 152, 0);
  width: 350px; /* Width of search bar depends on the width of the table*/
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.pagination button {
  margin-top: 10px;
  padding-right: 20px;
}

.pagination button.active {
  color: #1167b1;
  text-decoration: underline;
  cursor: default;
}

.pagination button:hover {
  color: #1167b1;
  text-decoration: underline;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffbd59;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  padding: 5px;
  width: 100%;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #f2f2f2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content button[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.dropbtn {
  border-radius: 10px;
  background-color: #ffbd59;
  color: #000;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover {
  background-color: #ff5a00;
}