<nav id="navbarH">
  <ul class="rightnavText">
    <li>
      <a href="#" class="active">
        <span class="nav-icon">
          <i class="fa-solid fa-bell"></i>
        </span>
      </a>
    </li>
    <li class="dropdown" (click)="isDropdownOpen = !isDropdownOpen">
      <input type="checkbox" id="userDropdownToggle" class="dropdown-toggle" [ngModel]="isDropdownOpen">
        <label for="userDropdownToggle" class="dropdown-label">
          <span class="nav-icon">
            <i class="fa-solid fa-user-gear"></i>
          </span>
        </label>
      <div class="dropdown-menu">
        <a routerLink="/account-settings"><i class="fa-solid fa-gear"></i> Settings</a>
        <button class="dropdown-item" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
      </div>
    </li>
  </ul>
</nav>
  
<nav id="navbarV">
  <ul class="leftnavText">
    <img id="dashboardLogo" src="../../assets/soc_logo.png" alt="">
    <li>
      <a href="/researcher/dashboard">
        <i id="dashboardIcons" class="fa fa-line-chart" aria-hidden="true"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a href="/researcher/journal-status" class="active">
        <i id="dashboardIcons" class="fa-solid fa-book-open" aria-hidden="true"></i>
      Journal
      </a>
    </li>
  </ul>
</nav>
  
  <div id="container">
    <div class="table-container">
      <div class="searchBar">
        <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" (input)="filterJournals()">
      </div>
      
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Journal Title</th>
            <th>Status</th>
            <th>Options</th>
          </tr>
        </thead>
        
        <tbody>
          <tr *ngFor="let journal of filteredJournals">
            <td>{{ journal.id }}</td>
            <td>{{ journal.journalTitle }}</td>
            <td>{{ journal.status }}</td>
            <td>
              <button class="view" (click)="viewJournal(journal._id)">View</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>