<app-navbar></app-navbar>
  
<div id="container">
  <div class="table-container">

    <input type="text" placeholder="Search..." class="searchBar" [(ngModel)]="searchQuery" (input)="filterJournals()">
    
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Journal Title</th>
          <th>Status</th>
          <th>Options</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let journal of filteredJournals.slice(startIndex, endIndex + 1)">
          <td>{{ journal.id }}</td>
          <td>{{ journal.journalTitle }}</td>
          <td>{{ journal.status }}</td>
          <td>
            <button class="view" (click)="viewJournal(journal._id)" [disabled]="journal.status === 'Pending' || journal.status === 'Under Review' || journal.status === 'Reviewed'">View</button>
          </td>
        </tr>
      </tbody>
    </table>
    
    <!-- Pagination controls -->
    <div class="pagination">
      <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
      <span> 
        <!-- Iterate over page numbers and add click handler -->
        <ng-container *ngFor="let pageNumber of getPageNumbers()">
          <button (click)="goToPage(pageNumber)" [class.active]="pageNumber === currentPage">{{ pageNumber }}</button>
        </ng-container>
      </span>
      <button (click)="onPageChange(currentPage + 1)" [disabled]="endIndex === filteredJournals.length - 1">Next</button>

    </div>
  </div>
</div>
