<app-navbar></app-navbar>

<div class="background">
  <div class="containerBox">
    <div id="dashboardHeader">
      <h1>Dashboard</h1>
      <hr>
    </div>
      <div id="container">
        <div class="box">
          <a href="/researcher/journal-submission">
            <span class="icon"><i class="fa-solid fa-file-arrow-up"></i></span>
            <span class="text">Submit Manuscript</span>
          </a>
        </div>
        <div class="box">
          <a href="/researcher/journal-status">
            <span class="icon"><i class="fa-solid fa-book-open"></i></span>
            <span class="text">View Manuscript Status</span>
          </a>
        </div>
        <div class="box">
          <a href="/publication">
            <span class="icon"><i class="fa fa-book"></i></span>
            <span class="text">Published Journal</span>
          </a>
        </div>
      </div>
  </div>
</div>