<body>
    <div class="container">
        <h1>Register</h1>
        <form (submit)="register()">
            <label for="email">Email: </label>
            <input type="text" name="email" [(ngModel)]="email" placeholder="Enter your email" required>
            <label for="fName">First Name: </label>
            <input type="text" name="fName" [(ngModel)]="firstName" placeholder="Enter your first name" required>
            <label for="lName">Last Name: </label>
            <input type="text" name="lName" [(ngModel)]="lastName" placeholder="Enter your last name" required>
            <label for="password">Password: </label>
            <input type="{{ passwordVisible ? 'text' : 'password' }}" name="password" [(ngModel)]="password" placeholder="Enter your password">
            <div class="password-toggle" (click)="togglePasswordVisibility()">
                <i class="fa-regular fa-eye" *ngIf="!passwordVisible"></i>
                <i class="fa-regular fa-eye-slash" *ngIf="passwordVisible"></i>
            </div>
            <input type="submit" value="Register">
            <p>or</p>
            <a routerLink="/login">Already have an account? </a>
        </form>
    </div>
</body>
