<app-navbar></app-navbar>

<div class="background">
  <div class="containerBox">
    <div id="dashboardHeader">
      <h1>Dashboard</h1>
      <hr>
    </div>
    <div id="container">
      <div class="box">
        <a href="/admin/user-management">
          <span class="icon"><i class="fa-solid fa-user-group"></i></span>
          <span class="text">View User Management</span>
        </a>
      </div>  
      <div class="box">
        <a href="/admin/journal-management">
          <span class="icon"><i class="fa-solid fa-book-open"></i></span>
          <span class="text">View Journal Management</span>
        </a>
      </div>

      <div class="box">
        <a href="/admin/reviewer-management">
          <span class="icon"><i class="fa-solid fa-address-card"></i></span>
          <span class="text">View Reviewer Management</span>
        </a>
      </div>
    
      <div class="box">
        <a href="/publication">
          <span class="icon"><i class="fa fa-book"></i></span>
          <span class="text">Published Journal</span>
        </a>
      </div>

    </div>
  </div>
</div>