<nav id="navbarH">
  <ul class="rightnavText">
    <li class="dropdown" (click)="toggleNotifDropdown()">
        <input type="checkbox" id="notigDropdownToggle" class="dropdown-toggle" [ngModel]="showNotifDropdown">
        <a>
          <label for="notifDropdownToggle" class="dropdown-label">
            <span class="nav-icon">
              <i class="fa-solid fa-bell">
                <span class="badge" *ngIf="unreadNotifications.length > 0">{{ unreadNotifications.length }}</span>
              </i>              
            </span>
          </label>
        </a>
        <div class="dropdown-content" *ngIf="showNotifDropdown">
          <div *ngFor="let notification of unreadNotifications">
            <a>{{ notification.message }}</a>
          </div>
        </div>
      </li>
    <li class="dropdown" (click)="isDropdownOpen = !isDropdownOpen">
      <input type="checkbox" id="userDropdownToggle" class="dropdown-toggle" [ngModel]="isDropdownOpen">
        <label for="userDropdownToggle" class="dropdown-label">
          <span class="nav-icon">
            <i class="fa-solid fa-user-gear"></i>
          </span>
        </label>
      <div class="dropdown-menu">
        <a routerLink="/account-settings"><i class="fa-solid fa-gear"></i> Settings</a>
        <button class="dropdown-item" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
      </div>
    </li>
  </ul>
</nav>


<nav id="navbarV">
  <ul class="leftnavText">
    <img id="dashboardLogo" src="../../assets/soc_logo.png" alt="">
    <li>
      <a href="/admin/dashboard" class="active">
        <i id="dashboardIcons" class="fa fa-line-chart" aria-hidden="true"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a href="/admin/user-management">
        <i id="dashboardIcons" class="fa-solid fa-user-group" aria-hidden="true"></i>
        User
      </a>
    </li>
    <li>
      <a href="/admin/reviewer-management">
        <i id="dashboardIcons" class="fa fa-book" aria-hidden="true"></i>
        Reviewer
      </a>
    </li>
    <li>
      <a href="/admin/journal-management">
        <i id="dashboardIcons" class="fa-solid fa-book-open" aria-hidden="true"></i>
      Journal
      </a>
    </li>
    <li><a href="/admin/rubric-management">
      <i id="dashboardIcons" class="fa-solid fa-newspaper" aria-hidden="true"></i>
      Rubric</a></li>
  </ul>
</nav>

<div class="containerBox">
  <div id="dashboardHeader">
    <h1>Dashboard</h1>
    <hr>
  </div>
  <div id="container">
    <div class="box">
      <a href="/admin/user-management">
        <span class="icon"><i class="fa-solid fa-user-group"></i></span>
        <span class="text">View User Management</span>
      </a>
    </div>  
    <div class="box">
      <a href="/admin/journal-management">
        <span class="icon"><i class="fa-solid fa-book-open"></i></span>
        <span class="text">View Journal Management</span>
      </a>
    </div>

    <div class="box">
      <a href="/admin/reviewer-management">
        <span class="icon"><i class="fa-solid fa-address-card"></i></span>
        <span class="text">View Reviewer Management</span>
      </a>
    </div>
  
    <div class="box">
      <a href="#" class="disabled">
        <span class="icon"><i class="fa-solid fa-newspaper"></i></span>
        <span class="text">Published Journal</span>
      </a>
    </div>

  </div>
</div>
