<app-navbar></app-navbar>

<div class="containerBox">
  <div class="table-container">
    <div class="searchBar">
      <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" (input)="filterJournals()">
    </div>
    
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Journal Title</th>
          <th>Author(s)</th>
          <th>Status</th>
          <th>Options</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let journal of filteredJournals.slice(startIndex, endIndex + 1)">
          <td>{{ journal.id }}</td>
          <td>{{ journal.journalTitle }}</td>
          <td>{{ journal.authors.join(', ') }}</td>
          <td>{{ journal.status }}</td>
          <td>
            <button class="view" [disabled]="isFeedbackSubmitted(journal)" (click)="viewJournal(journal._id)">View</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
      <span> 
        <!-- Iterate over page numbers and add click handler -->
        <ng-container *ngFor="let pageNumber of getPageNumbers()">
          <button (click)="goToPage(pageNumber)" [class.active]="pageNumber === currentPage">{{ pageNumber }}</button>
        </ng-container>
      </span>
      <button (click)="onPageChange(currentPage + 1)" [disabled]="endIndex === filteredJournals.length - 1">Next</button>

    </div>
  </div>
</div>