<app-navbar></app-navbar>
  
<div id="container">
    
  <div class="table-container">
    <div class="searchBar">
      <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" (input)="filterUsers()">
    </div>
    
    
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Reviewer Name</th>
          <th>Assigned Journal(s)</th>
          <th>Status</th>
          <th>Options</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let user of filteredUsers.slice(startIndex, endIndex + 1)">
          <td>{{ user.id }}</td>
          <td>{{ user.firstName }} {{ user.lastName }}</td>
          <td>
            <!-- Display assigned journal titles if available -->
            <ng-container *ngIf="user.assignedJournals && user.assignedJournals.length > 0">
              <div *ngFor="let journalTitle of user.assignedJournals">{{ journalTitle }}</div>
            </ng-container>
            <ng-container *ngIf="!user.assignedJournals || user.assignedJournals.length === 0">
              No assigned journals
            </ng-container>
          </td>
          <td>{{ user.status }}</td>
          <td class="actionButton">
            <div class="dropdown">
              <button class="dropbtn">Options</button>
              <div class="dropdown-content">
                <button (click)="deleteUser(user._id)">
                  <i class="fa-solid fa-trash-can"></i> Delete
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
      <span> 
        <!-- Iterate over page numbers and add click handler -->
        <ng-container *ngFor="let pageNumber of getPageNumbers()">
          <button (click)="goToPage(pageNumber)" [class.active]="pageNumber === currentPage">{{ pageNumber }}</button>
        </ng-container>
      </span>
      <button (click)="onPageChange(currentPage + 1)" [disabled]="endIndex === filteredUsers.length - 1">Next</button>
    </div>
  </div>
</div>