<nav id="navbarH">
    <ul class="rightnavText">
      <li>
        <a href="#" class="active">
          <span class="nav-icon">
            <i class="fa-solid fa-bell"></i>
          </span>
        </a>
      </li>
      <li class="dropdown">
        <input type="checkbox" id="userDropdownToggle" class="dropdown-toggle">
          <label for="userDropdownToggle" class="dropdown-label">
            <span class="nav-icon">
              <i class="fa-solid fa-user-gear"></i>
            </span>
          </label>
        <div class="dropdown-menu">
          <a href="#"><i class="fa-solid fa-gear"></i> Settings</a>
          <button class="dropdown-item" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
        </div>
      </li>
    </ul>
  </nav>

  <nav id="navbarV">
    <ul class="leftnavText">
      <li><a href="/researcher/dashboard">Dashboard</a></li>
      <li><a href="/researcher/journal-status" class="active">Journal Status</a></li>
    </ul>
  </nav>

  <div id="container">
    <div *ngIf="consolidatedFeedback">
      <h2>Feedback for {{ journalTitle }}</h2>
      <div>
        <strong>Feedback:</strong> {{ consolidatedFeedback }}
      </div>
    </div>
  </div>